<template v-on:scroll.native="handleScroll">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-2 align-content-around">
            <i class="fa-solid fa-paintbrush hobby-logo"></i>
            <i class="fa-solid fa-code hobby-logo"></i>
          </div>
            <div class="col-lg-8">
                <h2 class=" mb-4">A propos de moi</h2>
                <p class="text-white">Titulaire d'un Master en informatique avec une spécialisation en Conception et Intégration Multimédia, je suis passionnée par le monde du web et de la création numérique.
                    J'aime résoudre des problèmes techniques complexes tout en gardant un esprit créatif, et je suis toujours à la recherche de nouveaux défis pour continuer à apprendre et améliorer mes compétences !
                </p>
                <p class="text-white">
                    En dehors du web, j'aime également le dessin, l'aquarelle et tout ce qui touche à la culture japonaise. 
                    Explorez mes projets et téléchargez mon CV pour en savoir plus sur mon travail.
                </p>
                <a class="btn btn-primary mr-2 mb-2" href="#projets-web" >↓ Consultez mes projets ↓</a>
                <a class="btn btn-primary btn-download mr-2 mb-2" download :href="getFileUrl('Belhadj-Lina-CV.pdf')" >Téléchargez mon CV</a>
            </div>
            <div class="col-lg-2 align-content-around">
            <i class="fa-solid fa-headphones hobby-logo"></i>
            <i class="fa-solid fa-torii-gate hobby-logo"></i>
            </div>
        </div>
      </div>
    
</template>

<script setup>
function getFileUrl(name) {
  // This path must be correct for your file
  return new URL(`../assets/${name}`, import.meta.url)
}
</script>
<style>
#about{
    /* background: linear-gradient(to bottom, #161e29 0%, rgba(22, 30, 41, 0.2) 50%, rgba(var(--bs-light-rgb),1) 75%); */
    background: linear-gradient(to bottom, rgb(5, 24, 51) 0%, rgba(5, 24, 51, 0.8) 75%, rgb(5, 24, 51, 0.8) 100%);
}

.logos {
  width: 30%; /* La largeur des logos */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
p {
  text-shadow: 1px 0 30px pink
}
.hobby-logo {
  width: 80px; /* Taille des logos */
  height: auto;
  margin: 50px 20px;
  opacity: 0.8; /* Légèrement transparent pour ne pas détourner trop l'attention */
  transition: transform 0.3s, opacity 0.3s; /* Animation en hover */
  color: rgb(151, 177, 201);
}

.hobby-logo:hover {
  transform: scale(1.1); /* Zoom au survol */
  opacity: 1;
}
</style>