<template>
  <h2 class="text-white mb-5 pl-2">Contactez-moi !</h2>
  <!-- Contact-->
  <section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col col-md-6 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <h4>Si vous souhaitez en savoir plus à propos de ce que je fais, n'hésitez pas à me contacter par mail !</h4>
                <hr class="my-4 mx-auto" />
                <a href="mailto:lina.blhj@outlook.fr" class="btn btn-primary">Envoyez-moi un email</a>
              </div>
            </div>
          </div>
                    <div class="col col-md-6 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0">Consultez mes projets sur</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="social d-flex justify-content-center">
                                <a class="mx-2" href="https://gitlab.com/LinaBlhj/"><i class="fab fa-gitlab"></i></a>
                                <a class="mx-2" href="https://github.com/LinaBlhj"><i class="fab fa-github"></i></a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <footer class="bg-perso footer small text-center text-white-50"><div class="container px-4 px-lg-5">Lina Belhadj 2024</div></footer>
</template>

<style>


.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  line-height: 3rem;
  color: rgb(255, 255, 255);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 3rem 0;

}
</style>