<script setup>
defineProps({
  msg: {
    type: String,
    required: true
  }
})
</script>

<template>
  <div class="greetings">
    <h3>
      Bonjour, je suis
    </h3>
    <h1 class="mx-auto my-0">{{ msg }}</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5"> > Développeuse web full-stack</h2>
  </div>
</template>

<style scoped>

</style>
