<template>
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 pb-5 align-items-center project">
      <!-- <div class="d-flex col-6 pr-0 ml-auto justify-content-end"> -->
      <img v-if="image" alt="Capture du projet" :src="getImageUrl(image)" class="d-flex col-lg-6 pr-0 ml-auto justify-content-end"/>
    <!-- </div> -->
    <div class="featured-text text-center text-lg-left col-lg-6">
    <h3>{{ titre }}</h3>
    <p>{{ desc }}</p>
    <div>
      <span v-for="(item, index) in competences" :key="index" class="competences text-white d-inline-block">{{ item }}</span>

    </div>
    <a v-if="lien" :href=lien target="_blank">-> {{ site }}</a>
    </div>
</div>
</template>

<script setup>
defineProps({
  titre: {
    type: String,
    required: true
  },
  desc: {
    type: String,
    required: true
  },
  competences: {
    type: Array,
    required: true
  },
  site: {
    type: String,
    required: true
  },
  lien: {
    type: String,
    required: true
  },
  image: {
    type: String,
    required: true
  }
})

function getImageUrl(image) {
  // This path must be correct for your file
  return new URL(`../assets/${image}`, import.meta.url)
}
</script>

<style>
.competences {
  background-color: #c9af97;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 25px;
}
img {
  /* width: 100%; */
  max-height: 500px;
  object-fit: contain;
}

.projects-section a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: #0069d9;
}

.projects-section a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #0069d9;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.projects-section a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

</style>