<script setup>
import Projet from './Projet.vue';

</script>

<template>
  <div class="container px-4 px-lg-5 ">
    <h2 class="text-center pb-4">Mes projets web</h2>
    <!-- <img alt="Capture du projet" src="../assets/Cowobo.png" class="col-lg-4"/> -->
    <Projet titre="Cowobo"
            desc="Cowobo est un site de coworking destiné aux professionels de la beauté. Lors de mon stage j'ai participé au développement de diverses fonctionnalités du site côté back, j'ai également effectué une refonte du responsive de plusieurs pages."
            :competences="['Symfony', 'Twig', 'Responsive', 'Javascript']"
            site="Voir le site"
            lien="https://www.cowobo.fr"
            image="Cowobo.png" />
    <Projet titre="NomadNotes"
            desc="NomadesNotes est un site permettant de garder un souvenir de ses voyages à l'aide de notes géolocalisées. Les utilisateurs peuvent placer des marqueurs sur une carte interactive et laisser une note ainsi que des photos de leurs voyages. Sur ce projet, j'ai réalisé l'intégration de la carte interactive avec Leaflet en Vue.js et sa connexion à l'API développée en Symfony."
            :competences="['VueJs', 'Leaflet', 'Gestion de projet']"
            site="Voir sur Github"
            lien="https://github.com/LouFavre2/NomadNotes/tree/frontend"
            image="NomadNotes.png" />
    <Projet titre="SERJ"
            desc="SERJ (Service Emploi Rhône Jeunesse) est une application de recherche d'emploi saisonniers. L'application contient une partie candidat qui permet de consulter et de postuler aux offres postées depuis la partie entreprise.
            Sur ce projet, j'ai effectué la création de l'API en NodeJS. J'ai développé la logique de création de compte, de récupération de mot de passe avec envoi de mail, ainsi que la logique permettant de postuler à des offres. J'ai également fait l'intégration de l'API côté front."
            :competences="['NodeJS', 'Base de données', 'ExpressJS', 'VueJS', 'Axios']"
            site="Voir sur Github" 
            lien="https://github.com/LinaBlhj/backend"
            image="SERJ.png" />
    <Projet titre="Ma Manga-tech"
            desc="La Manga-tech est un site permettant de consulter la description de divers mangas et d’ajouter ses favoris à sa mangathèque personnelle. Les personnes connectées en tant qu’administrateur peuvent supprimer des membres et ajouter des mangas à la base de données.
            Ce projet a dans un premier temps été réalisé en binôme entièrement en technologies natives. Je l'ai par la suite reconstruit avec Symfony, API Platform et VueJS."
            :competences="['HTML', 'CSS', 'Javascript', 'PHP', 'MySQL', 'Symfony', 'VueJS', 'API Platform', 'Gestion de projet']"
            site="Voir sur Gitlab"
            lien="https://gitlab.com/LinaBlhj/ma-manga-tech"
            image="Mangatech.jpg" />
  </div>
</template>

<style>
section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  section .featured-text {
    padding: 0 0 0 2rem;
  }
  section img {
        border-right: 0.5rem solid #97b1c9;
  }
}
section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  section .project-text {
    padding: 5rem;
  }
  section .project-text hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
  }
}
</style>