<script setup>
import About from './components/About.vue';
import Contact from './components/Contact.vue';
import HelloWorld from './components/HelloWorld.vue'
import Projets from './components/Projets.vue';
import { onMounted } from 'vue';

onMounted(() => {
  // Navbar shrink function
  var navbarShrink = function () {
      const navbarCollapsible = document.body.querySelector('#mainNav');
      if (!navbarCollapsible) {
          return;
      }
      if (window.scrollY === 0) {
          navbarCollapsible.classList.remove('navbar-shrink')
      } else {
          navbarCollapsible.classList.add('navbar-shrink')
      }
  
  };
  
  // Shrink the navbar 
  navbarShrink();
  
  // Shrink the navbar when page is scrolled
  document.addEventListener('scroll', navbarShrink);
  
  // Activate Bootstrap scrollspy on the main nav element
  const mainNav = document.body.querySelector('#mainNav');
  if (mainNav) {
      new bootstrap.ScrollSpy(document.body, {
          target: '#mainNav',
          offset: 74,
      });
  };
  
  // Collapse responsive navbar when toggler is visible
  const navbarToggler = document.body.querySelector('.navbar-toggler');
  const responsiveNavItems = [].slice.call(
      document.querySelectorAll('#navbarResponsive .nav-link')
  );
  responsiveNavItems.map(function (responsiveNavItem) {
      responsiveNavItem.addEventListener('click', () => {
          if (window.getComputedStyle(navbarToggler).display !== 'none') {
              navbarToggler.click();
          }
      });
  });

});




</script>

<template>
  <nav class="navbar navbar-expand-sm navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li v-for="(item, index) in menuItems" :key="index" class="navbar-item">
          <a class="nav-link" :href="item.link">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <HelloWorld msg="Lina Belhadj" />
    </div>
  </header>
  
  <main>
    <section id="about" class="about-section text-center">
      <About />
    </section>
    <section class="projects-section bg-light" id="projets-web">
      <Projets />
    </section>

  </main>
  <section id="contact"  class="contact-section bg-perso">
  <Contact/>
  </section>
</template>

<script>
export default {
  data() {
    return {
      menuItems: [
        { name: 'A propos de moi', link: '#about' },
        { name: 'Mes projets', link: '#projets-web' },
        { name: 'Contact', link: '#contact' }
      ]
    };
  }
};
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 1rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-item a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

.navbar-item a:hover {
  color: #0056b3;
}
</style>
